body {
  background-color: #163a63;
  color: #163a63;
}
.list-group {
  box-shadow: 0px 11px 23px 5px rgba(0, 0, 0, 0.34);
}
.list-group-item {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
}
.btn-toolbar {
  margin-top: 10px;
}
img {
  float: left;
  margin-right: 15px;
  height: 128px;
  width: 128px;
}
/* ==== SOME BOOTSTRAP MODS/STYLING ==== */
.btn-default {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(0, 0, 0, 0.2);
}
.img-rounded,
.btn,
.label {
  border-radius: 6px;
}
.btn {
  padding: 6px 18px;
}
.dropdown-menu > li > a {
  color: #777;
}
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu .divider {
  background-color: #555;
}
body {
  /* GRADIENT BG */
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  /* background: linear-gradient(45deg, #009100 0%, #0056c7 100%); */
  background: linear-gradient(100deg, rgba(169,216,217,1) 0%, rgba(255,235,191,1) 200%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0056C7', endColorstr='#009100', GradientType=1);
  /* ie6-9 */
}
/* ==== FONTS ==== */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}
.active a {
  color: #c7ddef;
}

.nx-navbar-links {
  padding: 15px;
  display: flex;
  width: 20%;
  justify-content: space-between;
}